.socialicon {
    transition: 1s;
    display: inline-block;
}

.socialicon:hover {
    transform: translateY(-40px);
}


/* Wave Animation for the Footer Background */
@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer {
    background: linear-gradient(520deg, #b8b6b6, #eee9e3);
    animation: wave 5s linear infinite;
    color: white;
}



.socialicon {
    animation: textWave 5s infinite;
    background: linear-gradient(520deg, #faf19c, #eee9e3);
}
.socialicon1 {
    animation: textWave1 5s infinite;
    background: linear-gradient(520deg, #b67f7f, #eee9e3);
}
.socialicon2 {
    animation: textWave2 5s infinite;
    background: linear-gradient(520deg, #b8b6b6, #c46f08);
}
.socialicon3 {
    animation: textWave3 5s infinite;
    background: linear-gradient(520deg, #1d0b0b, #eee9e3);
}


/* Wave Animation for Social Icons */
@keyframes textWave {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes textWave1 {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
}
@keyframes textWave2 {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-80px);
    }
}
@keyframes textWave3 {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
}

.socialicon:hover {
    background: linear-gradient(520deg, #ffffff, #cccbca);
}



